/* ------------------------------------------------------- */
.main-details {
    background-image: url('/public/images/bg.jpg');
    height: 90vh;
    width: 89.4%;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    /* font-family: 'Oswald'; */
    font: inherit;
}

.main-details .info {
    margin-top: 30px;
    padding: 10px 30px;
    text-align: left;
    height: 25%;
    width: 20%;
}

.main-details .info a {
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: 500;
    display: block;
    margin: 20px 0;
}

.main-details .info h3 {
    margin-bottom: 30px;
    color: #514c46;
    font-size: 60px;
    font-weight: 500;
}

.main-details .info h4 {
    margin-bottom: 30px;
    color: #514c46;
    font-size: 30px;
    font-weight: 500;
}

.main-details .info ul {
    font-family: sans-serif;
}

.main-details .info ul li {
    margin-bottom: 6px;
}

.main-details .photo {
    height: 40%;
    width: 40%;
    align-items: center;
    justify-content: center;
    /* margin-right: 300px; */
    margin: 20px auto;
    padding: 20px;
    margin-right: 300px;
}

.main-details .photo .footer {
    margin-left: 80px;
    display: flex;
    width: 380px;
    justify-content: space-between;
    align-items: center;
}

.main-details .photo .footer-btn {
    text-align: center;
    background-color: #195e33;
    color: white;
    width: 180px;
    height: 44px;
    font-size: 18px;
    margin-left: 10px;
    border: 0;
    /* font-weight: 600; */
}

.main-details .photo .footer-btn:hover {
    cursor: pointer;
}

.main-details .photo .menu-sec-product {
    position: relative;
   
}

.main-details .photo .menu-sec-product img{
    max-width: 500px;
    max-height: 500px;
}


.main-details .photo .menu-sec-product .menu-price {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 160px;
    right: 10px;
    background-color: #195e33;
    color: white;
    padding: 32px 32px;
    align-items: center;
    justify-content: center;
    border-radius: 120px 120px 120px 0px;
}

.main-details .photo .menu-sec-product .menu-price :nth-child(1) {
    font-size: 70px;
    font-weight: 600;
    position: absolute;
    top: 50px;
    right: 70px;
}

.main-details .photo .menu-sec-product .menu-price :nth-child(2) {
    font-size: 36px;
    font-weight: 500;
    position: absolute;
    right: 30px;
    top: 42px;
}

.main-details .photo .menu-sec-product .menu-price :nth-child(3) {
    font-size: 36px;
    font-weight: 500;
    position: absolute;
    right: 24px;
    top: 72px;
}

.main-details .photo .menu-sec-product .menu-price :nth-child(4) {
    position: absolute;
    top: 62px;
    font-size: 12px;
    text-decoration-line: line-through;
    color: #5e8e70;
    font-weight: 700;
}

.main-details .photo .food-type {
    text-align: center;
    background-color: #195e33;
    color: white;
    width: 260px;
    height: 44px;
    font-size: 24px;
    font-weight: 600;
    padding-top: 16px;
    margin-left: 80px;
}


/* ---------------------------------- */
/* likes btn */

button.like {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    line-heigth: 50px;
    border-radius: 50%;
    color: #195e33;
    background-color: rgba(38, 166, 154, 0.1);
    border-width: 1px;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

button.dislike {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    line-heigth: 50px;
    border-radius: 50%;
    color: #195e33;
    background-color: rgba(255, 138, 128, 0.1);
    border-width: 1px;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

.count-p {
    font-size: 20px;
    color: #195e33;
    padding: 0;
    margin: 0;
    margin-left: 4px;
}

.count-p2 {
    font-size: 24px;
    color: #195e33;
    padding: 0;
    margin: 0;
    margin-left: 2px;
}