.outer {
    background-color: #195e33;
    padding: 2px 2px;
    position: fixed;
    max-height: 500px;
    width: 284px;
    top: 30%;
    right: 8px;
    z-index: 100;
    border: 1px solid #195e33;
}

.trolley {
    background-image: url('/public/images/bg.jpg');
    top: 40%;
    z-index: 100;
    margin: 0 auto;
}

.trolley .remove-cart {
    color: red;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.trolley .trolley-head {
    background-color: #195e33;
    color: white;
    text-align: center;
    padding: 18px 0;
    height: 28px;
    font-size: 26px;
    font-weight: 500;
}

.trolley .trolley-head i {
    margin-right: 12px;
}

.trolley .items .items-aded .items-aded-inner .items-aded-li {
    display: flex;
    text-align: center;
    background-image: url('/public/images/bg.jpg');
    padding: 20px 4px;
    max-width: 274px;
    min-height: 282;
    vertical-align: baseline;
    justify-content: space-between;
    align-items: center;
}

.trolley .items .items-aded .items-aded-inner .items-aded-li .remove-cart,
.trolley .items .items-aded .items-aded-inner .items-aded-li .p-price{
    width: 15%;
}

.trolley .items .items-aded .items-aded-inner .items-aded-li  .p-title{
    width: 56%;
}

.trolley .items .items-aded {
    max-height: 160px;
    overflow: auto;
    box-sizing: border-box;
}

.trolley .items .items-aded .items-aded-inner {
    background-color: #195e33;
    padding-bottom: 1px;
}

/* devider  */
.devider {
    height: 1px;
    width: 100%;
    background-color: #195e33;
    
}

/* temp-sum  */
.calc-sum {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 18px;
}

.calc-sum .small {
    font-weight: 600;
    padding-top: 4px;
}

.calc-sum .calc-sum-head {
    font-size: 20px;
   font-weight: 900;
}

/* footer  */
.trolley-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 12px;
}

.trolley-footer .trolley-link-btn {
    color: white;
    background-color: #195e33;
    padding: 12px 100px;
    font-weight: 500;
    text-decoration: none;
}
