@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

body {
    font-family: 'Oswald';
    box-sizing: border-box;
}


.container {
    width: 100%;
    height: 85vh;
    position: relative;
}

.container img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -10;
}

.container .content {
    position: absolute;
    background: rgba(255, 255, 255, .9);
    top: 55px;
    right: 68px;
    width: 128px;
    height: 370px;
    padding: 40px 24px;
}

.container .content .title {
    color: #195e33;
    letter-spacing: 1.5px;
    line-height: 1;
    font-size: 60px;
    font-weight: 600;
    height: 150px;
}

.container .content .desc {
    color: #195e33;
    margin-bottom: 32px;
    line-height: 1.2;
    font-family: 'Oswald';
}

.container .content .btn-order {
    background-color: #195e33;
    color: white;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: none;
    font-family: 'Oswald';
}

/* ---------------------------------------------------- */

/* Thummbs */

.thumbs {
    max-width: 1230px;
    margin: 0 auto;
    padding: 45px 0;
}

.thumbs ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.thumbs ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
    flex: 0 1 160px;
}

.thumbs ul li img {
    width: 125px;
    height: 105px;
}

.thumbs ul li h5 {
    color: rgb(78, 78, 78);
    font-size: 17px;
    font-weight: 700;
    text-align: center;
}

/* Offers */

.offers {
    background-image: url('bg.jpg');
    width: 100%;
    height: 90vh;
}

.offers .offers-title {
    width: 130px;
    /* height: 60px; */
    margin: 0 auto;
    background-color: #195e33;
    color: white;
    padding: 16px 40px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    top: -8px;
    margin-bottom: 70px;
}

.offers .offers-pictures {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.offers .offers-pictures>div {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.offers .offers-pictures .offers-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    width: 85%;
    height: 50px;
    padding: 16px 24px;
}

.offers .offers-pictures .offers-img1,
.offers .offers-pictures .offers-img2,
.offers .offers-pictures .offers-img3 {
    max-width: 100%;
    transition: ease-in-out .3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.offers .offers-pictures>div:hover .offers-img1,
.offers .offers-pictures>div:hover .offers-img3,
.offers .offers-pictures>div:hover .offers-img2 {
    transform: scale(1.1);
}
