
.container {
    width: 100%;
    height: 60vh;
    display: flex;
    /* position: relative; */
    background-image: url('/public/images/photo-pizza.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -20;
}