/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap'); */


.coment {
  height: 100%;
  width: 100%;
  /* padding: 20px 60px; */
  background-image: url('/public/images/bg.jpg');
}

.coment .coment-title {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  padding: 80px;
  color: #514c46;
}

.coment .coment-sec {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
}

.coment .coment-sec .coment-sec-product {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 26%;
  padding: 20px 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.coment .coment-sec .coment-sec-product .coment-sec-title {
  font-size: 26px;
}



.coment .coment-sec .coment-sec-product:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: ease-in-out 0.4s;
  transform: scale(1);
}

.coment .coment-sec .coment-sec-product img {
  max-height: 100px;
  max-width: 240px;
}

/* --------------------------------------------------------------------------------------------- */