
/* ---------------------------------------------------------- */

.sub {
    background-color: #195e33;
    height: 100%;
    width: 100%;
}

.sub .sub-shell {
    padding: 4px 50px;
    display: flex;
    /* width: 100%;
    height: 100%; */
}

.sub .sub-shell .sub-shell-ul {
    display: flex;
    margin: 0 auto;
    gap: 40px;
    padding: 14px;
}

.sub .sub-shell .sub-shell-ul li {
    color: #92aa9a;;
    font-size: 18px;
    cursor: pointer;
}

.sub .sub-shell .sub-shell-ul li:hover {
    color: white;
}

.sub .sub-shell .sub-shell-ul a {
    text-decoration: none;
}

