.header {
    background: rgba(255, 255, 255, .9);
    height: 80px;
    width: 100%;
}

.header .working-time-login {
    width: 90%;
    height: 40px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header .working-time-login .working-time {
    margin-right: 320px;
    color: rgb(88, 88, 88);
    font-size: 15px;
}

.header .working-time-login .logo {
    width: 110px;
    height: 170px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 90px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.6);
}

.header .working-time-login .login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.header .working-time-login .login a {
    text-decoration: none;
    color: #195e33;
}

.header .working-time-login .divider {
    background-color: #195e33;
    width: 2px;
    height: 16px;
}

.header nav {
    width: 82%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 180px;
    gap: 20px;
}

.header nav .navigation {
    width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    margin-right: 32px;
}

.header nav .phone-number {
    color: #195e33;
    font-weight: 600;
    margin-right: 20px;
    font-size: 17px;
}

.header nav .phone-number i{
    margin-right: 6px;
}

.header nav .search {
    border: 1px solid #000;
    text-transform: uppercase;
    color: #195e33;
    text-align: center;
    font-size: 16px;
    font-family: Oswald, sans-serif;
    font-weight: 600;
    outline: 0;
    margin-right: 16px;
}

.header nav a {
    text-decoration: none;
    color: #195e33;
    font-weight: 600;
    font-size: 17px;
}

.header nav .nav-link:hover {
    /* border-bottom: 3px solid #195e33; */
    text-decoration: underline;
    text-decoration-thickness: 4px;
    color: #195e33;

}