.bg {
    background-color: #ebebeb;
    /* background-image: url('/public/images/slide-picture-duner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    width: 100%;
    height: 100%;
    padding: 50px 0;
}

.register {
    width: 500px;
    height: 380px;
    margin: 0 auto;
    background-color: white;
    /* background-image: url('/public/images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 40px;
    border-radius: 8px;
}
 
.register .title {
    width: 200px;
    height: 32px;
    margin: 0 auto;
    text-align: center;
    background-color: #195e33;
    color: white;
    padding: 10px;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}
.register .register-form {
    width: 100%;
}
 
.register .register-form div {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
 
.register .register-form div .form-control {
    width: 60%;
    height: 30px;
}
 
.register .register-form div label {
    font-size: 18px;
    font-weight: 600;
    color: rgb(44, 44, 44);
}
 
.register .register-form .buttons input{
    width: 45%;
    height: 40px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.2px;
}
 
.register .register-form .buttons .confrim {
    background-color: #195e33;
    color: white;
    border: none;
}
 
.register .register-form .buttons .clear {
    background-color: rgba(0,0,0,0.3);
    color: white;
    border: none;
}
