@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


.container {
    width: 100%;
    height: 60vh;
    display: flex;
    /* position: relative; */
    background-image: url('/public/images/adobe1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -20;
}

.container img {
    width: 40%;
    height: 40%;
    position: absolute;
    right: 32%;
    top: 36%;
    /* object-fit: cover; */
    z-index: 10;
}

/* ---------------------------------------------------------------------------- */
/* menu-sec */

.menu {
    height: 100%;
    width: 100%;
    background-image: url('/public/images/bg.jpg');
}

.menu .menu-title {
    width: 130px;
    /* height: 60px; */
    margin: 0 auto;
    background-color: #195e33;
    color: white;
    padding: 16px 40px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    top: -8px;
    margin-bottom: 30px;
}

.menu .menu-sec {
    padding: 40px 40px;
    display: flex;
    flex-wrap: wrap;
}

.menu .menu-sec .menu-sec-product {
    cursor: pointer;
    width: 35%;
    padding: 30px 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.menu .menu-sec .menu-sec-product .menu-sec-title {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    color: #514c46;
}

.menu .menu-sec .menu-sec-product:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.4s;
    transform: scale(1);
}

.menu .menu-sec .menu-sec-product img{
    width: 440px;
    height: 360px;
    margin-top: 50px;
}

.menu .menu-sec .menu-sec-product .menu-price {
    width: 80px;
    height: 80px;
    background-color: #195e33;
    color: white;
    position: absolute;
    padding: 4px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 42px 42px 42px 0px;
    right: 20px;
    top: 260px;
}

.menu .menu-sec .menu-sec-product .menu-price :nth-child(1) {
    font-size: 40px;
    font-weight: 500;
    position: relative;
    margin-right: 30px;
    margin-bottom: 8px;
}

.menu .menu-sec .menu-sec-product .menu-price :nth-child(2) {
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    right: 20px;
    top: 18px;
}

.menu .menu-sec .menu-sec-product .menu-price :nth-child(3) {
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    right: 22px;
    top: 40px;
}

.menu .menu-sec .menu-sec-product .menu-price :nth-child(4) {
    position: absolute;
    top: 62px;
    font-size: 12px;
    text-decoration-line: line-through;
    color: #5e8e70;
    font-weight: 700;
}

.menu .menu-sec .menu-sec-product .btn-menu {
    width: 178px;
    height: 42px;
    border: none;
    background-color: #195e33;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    /* font-family: ' Oswald'; */
}

.menu .menu-sec .menu-sec-product .btn-menu i {
    margin-right: 6px;
    font-size: 18px;
}

.menu .menu-sec .menu-sec-product .div-btn {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin: 0 auto;
}

.menu .menu-sec .menu-sec-product .div-btn .btn {
    height: 42px;
    width: 100px;
    border: none;
    background-color: #195e33;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}