@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


.container {
    width: 100%;
    height: 60vh;
    display: flex;
    z-index: -20;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------------------------------------------------------------------------- */
/* menu-sec */

.menu {
    min-height: 50vh;
    width: 100%;
    background-image: url('/public/images/bg.jpg');
}

.menu .menu-title {
    width: 130px;
    /* height: 60px; */
    margin: 0 auto;
    background-color: #195e33;
    color: white;
    padding: 16px 40px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    top: -8px;
    margin-bottom: 30px;
}

.menu .cart-table .cart-row {
    display: flex;
    background-color: white;
    width: 1000px;
    margin: 0 auto;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border: 1px solid rgb(72, 72, 72);
}

.menu .cart-table .cart-row .cart-row-title {
    font-size: 20px;
    width: 40%;
}

.menu .cart-table .cart-row .cart-row-counter .add-remove-btn {
    background-color: transparent;
    color: #195e33;
    font-size: 26px;
    border: none;
}

.menu .cart-table .cart-row .cart-row-counter .add-remove-btn:hover {
    cursor: pointer;
}

.menu .cart-table .cart-row .cart-input {
    width: 40px;
    text-align: center;
    margin: 0 6px;
    padding: 6px 10px;
}

.menu .cart-table .cart-row .cart-row-span {
    font-size: 24px;
    font-weight: 500;
}

.menu .cart-table .cart-row .del-btn {
    background-color: transparent;
    border: none;
}

.menu .cart-table .cart-row .del-btn:hover {
    cursor: pointer;
}

.menu .cart-table .cart-row .del-btn .x-span {
    color: red;
    font-size: 20px;
}