@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

.container {
    width: 100%;
    height: 60vh;
    display: flex;
    z-index: -20;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* menu-sec */

.menu {
    min-height: 60vh;
    width: 100%;
    background-image: url('/public/images/bg.jpg');
}

.menu .menu-title {
    width: 130px;
    /* height: 60px; */
    margin: 0 auto;
    background-color: #195e33;
    color: white;
    padding: 16px 40px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    top: -8px;
    margin-bottom: 30px;
}

.menu .cart-table .cart-row {
    display: flex;
    background-color: white;
    width: 1000px;
    margin: 0 auto;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border: 1px solid rgb(72, 72, 72);
}

.menu .cart-table .cart-row .cart-row-title {
    font-size: 24px;
    font-weight: 600;
    width: 40%;
}

.menu .cart-table .cart-row .cart-row-counter .add-remove-btn {
    background-color: transparent;
    color: #195e33;
    font-size: 26px;
    border: none;
}

.menu .cart-table .cart-row .cart-row-counter .add-remove-btn:hover {
    cursor: pointer;
}

.menu .cart-table .cart-row .cart-input {
    width: 40px;
    text-align: center;
    margin: 0 6px;
    padding: 6px 10px;
}

.menu .cart-table .cart-row .cart-row-span {
    font-size: 24px;
    font-weight: 500;
}

.menu .cart-table .cart-row .del-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 600;
}

.menu .cart-table .cart-row .del-btn:hover {
    cursor: pointer;
}

.menu .cart-table .cart-row .del-btn .x-span {
    color: red;
    font-size: 20px;
}

/* section price */
/* --------------------------------------------------------------------------------- */
/* code-sec */

.prices {
    display: flex;
    height: 100%;
    width: 100%;
}

.prices .discount-code {
    display: flex;
    height: 100%;
    width: 50%;
    padding: 140px 80px;
    justify-content: center;
}

.prices .discount-code .discount-code-title {
    margin-right: 10px;
    font-size: 24px;
    font-weight: 500;
}

.prices .discount-code .discount-code-inp {
    margin-right: 4px;
    padding: 4px;
    height: 100%;
}

.prices .discount-code .discount-code-btn {
    background-color: #195e33;
    color: white;
    border: none;
    padding: 6px 14px;
}

/* sum-to-pay */

.prices .sum-to-pay {
    margin: 40px auto;
    height: 100%;
    width: 40%;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
    color: #195e33;
    font-size: 60px;
    font-weight: 600;
    padding-left: 100px;
}

.menu .continue-btn {
    background-color: #195e33;
    color: white;
    border: none;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 12px 18px;
    font-size: 20px;
    font-weight: 600;
}

.main .menu .continue  {
    padding: 30px;
    height: 30px;
    width: 100px;
    margin: 0 auto;
}

.main .menu .continue .continue-btn {
    text-decoration: none;
    cursor: pointer;
}

.menu .warning-title {
    text-align: center;
    padding: 0 50px 40px 0;
    font-size: 24px;
    font-weight: 500;
}

.menu .warning-title a {
    margin-left: 8px;
    text-decoration: none;
}

/* ----------------------------------------------- */
/* final oreder */

.main .final-order {
    min-height: 80vh;
    width: 100%;
    background-image: url('/public/images/bg.jpg');
    padding: 30px 40px;
    box-sizing: border-box;
    text-align: center;
}

.main .final-order .final-order-title {
    font-size: 40px;
    font-weight: 500;
    padding: 30px;
    padding-bottom: 50px;
}

.main .final-order .final-order-p {
    font-size: 24px;
    margin-bottom: 4px;
}

.main .final-order .final-order-ul {
    margin-bottom: 30px;
}

.main .final-order .final-order-li {
    background-color: aliceblue;
    border: 1px solid black;
    width: 400px;
    margin: 0 auto;
    text-align: left;
}

.main .final-order .final-order-li i {
    color: #195e33;
    font-size: 20px;
    padding: 4px;
    padding-left: 12px;
}

.main .final-order .final-order-li .final-order-sp1,
.main .final-order .final-order-li .final-order-sp2,
.main .final-order .final-order-li .final-order-sp3 {
    padding-left: 12px;
}

.main .final-order .final-order-disc {
    font-size: 40px;
    font-weight: 500;
    margin: 30px;
}

.main .final-order .final-order-total {
    font-size: 36px;
    font-weight: 500;
    margin: 30px;
}

.main .final-order .final-order-btn {
    background-color: red;
    color: white;
    padding: 8px 26px;
    font-size: 32px;
    margin-top: 60px;
}
